.form {
	width: 500px;
}

.footer {
	display: flex;
	align-items: center;
}

.error {
	flex-grow: 1;
	margin: 0 0 0 24px;
	color: #d4341c;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}
